# Compiled object files
*.o
*.obj
data/
.clang-format
Makefile
# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dll
*.dylib

# Executable files
*.exe
*.out
*.app

# Debug files
*.dSYM/
*.stackdump

# CMake build folders
/build/
cmake-build-*/

# Visual Studio files
*.vcxproj*
*.sln
*.user
*.opensdf
*.sdf
*.VC.db
.vscode

# Qt Creator
*.pro.user
*.qmake.stash

# Code::Blocks
*.depend
*.layout

# CLion
.idea/
*.iml

# Other
*.log
*.tmp
*.swp
.DS_Store
Thumbs.db
